<!-- Need Help Section -->
<section class="bg-need-help-bg bg-cover bg-no-repeat bg-center py-20 lg:px-3">
    <div class="min-lg:container min-lg:mx-auto text-center text-white">
        <p class='font-bold sm:text-3xl text-5xl'>Need Help?</p>

        <h1 class='sm:text-2xl text-3xl font-semibold my-6'>Don't Forget to Contact With Us</h1>

        <p class='sm:text-base text-lg'>Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor <br> sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus.</p>

        <div class="flex lg:flex-col justify-center items-center min-lg:w-4/5 min-lg:mx-auto">
            <input class="text-white focus:outline-none placeholder:text-white min-lg:w-2/5 font-semibold md:text-sm text-base mt-8 ml-3 py-4 px-8 bg-[#f66f9b] rounded-lg" type="text" placeholder="Name">
            <input class="text-white focus:outline-none placeholder:text-white min-lg:w-2/5 font-semibold md:text-sm text-base mt-8 ml-3 py-4 px-8 bg-[#f66f9b] rounded-lg" type="text" placeholder="Email">
            <a href="#" class='text-white font-semibold md:text-sm text-base uppercase mt-8 inline-block md:px-6 ml-3 py-3 px-8 bg-[#4b2d7f] rounded-lg border-b-8 border-[#a57ee9]'>Read More</a>
        </div>
    </div>
</section>

<!-- Social Media Links Section -->
<section class='bg-[#4b2d7f] py-12'>
    <div class="min-lg:container min-lg:mx-auto py-5 min-lg:px-12 flex flex-wrap justify-center items-center text-white">
        <a href='#' class='text-3xl px-10 my-5 min-sm:border-r-2 min-sm:border-[#7647c7]'> facebook </a>
        <a href='#' class='text-3xl px-10 my-5 min-sm:border-r-2 min-sm:border-[#7647c7]'> twitter </a>
        <a href='#' class='text-3xl px-10 my-5 min-sm:border-r-2 min-sm:border-[#7647c7]'> linkedin </a>
        <a href='#' class='text-3xl px-10 my-5 min-sm:border-r-2 min-sm:border-[#7647c7]'> instagram </a>
        <a href='#' class='text-3xl px-10 my-5'> behance </a>
        
    </div>
</section>