<!-- Our Work Section -->
<section class="bg-[#f1f1f1] py-20">
    <div class="min-lg:container min-lg:mx-auto text-center text-black">
        <h1 class='sm:text-3xl text-5xl font-semibold my-6'>Our Recent Work</h1>

        <p class='sm:text-base text-lg'>Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem <br class='lg:hidden'> ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut <br class='lg:hidden'> rhoncus lorem ipsum ese terds.Lorem ipsum dolor sit am et, consec tetur adipi scing elit. </p>

        <div class="filter my-10 font-semibold text-sm uppercase">
            <a href="#" class='mt-3 inline-block px-6 py-3  rounded-full drop-shadow-lg'>Web Design</a>
            <a href="#" class='mt-3 inline-block px-6 py-3  rounded-full drop-shadow-lg'>Mobile App</a>
            <a href="#" class='mt-3 inline-block px-6 py-3  rounded-full drop-shadow-lg'>Branding</a>
            <a href="#" class='mt-3 inline-block px-6 py-3 text-white bg-[#f42267]  rounded-full drop-shadow-lg'>Branding</a>
        </div>

        <div class="product flex flex-wrap justify-center items-center">
            <img class='w-96 h-96 m-5' src="assets/images/work-1.png" alt="Work-1">
            <img class='w-96 h-96 m-5' src="assets/images/work-2.png" alt="Work-2">
            <img class='w-96 h-96 m-5' src="assets/images/work-3.png" alt="Work-3">
            <img class='w-96 h-96 m-5' src="assets/images/work-4.png" alt="Work-4">
            <img class='w-96 h-96 m-5' src="assets/images/work-5.png" alt="Work-5">
            <img class='w-96 h-96 m-5' src="assets/images/work-6.png" alt="Work-6">
            <img class='w-96 h-96 m-5' src="assets/images/work-7.png" alt="Work-7">
            <img class='w-96 h-96 m-5' src="assets/images/work-8.png" alt="Work-8">
            <img class='w-96 h-96 m-5' src="assets/images/work-9.png" alt="Work-9">
        </div>

        <a href="#" class='readmore text-white font-semibold md:text-sm text-base uppercase mt-16 inline-block md:px-6 ml-3 py-3 px-8 bg-[#f42267] rounded-lg border-b-8 border-[#ff598f]'>Read More</a>
    </div>
</section>