<!-- About Section -->
<section class="bg-world-map-bg bg-cover bg-no-repeat bg-center py-20 px-3">
    <div class="flex lg:flex-col justify-around items-center min-lg:container min-lg:mx-auto">
        <div class="text-black mb-10 lg:text-center max-w-xl">
            <p class='font-palatino-linotype sm:text-xl text-4xl'>Dream Big Inspire the World</p>
            <h1 class='sm:text-3xl text-5xl font-semibold mt-5'>We turn creative ideas <br class='lg:hidden'> into your business.</h1>

            <div class="mb-5 mt-2 font-semibold text-sm uppercase">
                <a href="#" class='mt-3 inline-block px-6 py-3  rounded-full drop-shadow-lg'>Web Design</a>
                <a href="#" class='mt-3 inline-block px-6 py-3  rounded-full drop-shadow-lg'>Mobile App</a>
                <a href="#" class='mt-3 inline-block px-6 py-3  rounded-full drop-shadow-lg'>Branding</a>
                <a href="#" class='mt-3 inline-block px-6 py-3 text-white bg-[#f42267]  rounded-full drop-shadow-lg'>Branding</a>
            </div>

            <p class='sm:text-base text-lg'>Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds.Lorem ipsum dolor sit am et, consec tetur adipi scing elit. </p>

            <a href="#" class='text-white font-semibold md:text-sm text-base uppercase mt-8 inline-block md:px-6 ml-3 py-3 px-8 bg-[#f42267] rounded-lg border-b-8 border-[#ff598f]'>Read More</a>
        </div>

        <div class="lg:ml-0 lg:mt-5 text-center max-w-xs">
            <img src="assets/images/watch-img.png" alt="Header-Image">
        </div>
    </div>
</section>