<!-- footer section -->
<footer>
    <!-- Quick Links Section -->
    <section class="bg-world-map-bg bg-cover bg-no-repeat bg-center py-20 px-3">
        <div class="flex lg:flex-col justify-center items-center min-lg:container min-lg:mx-auto">

            <div class="quick-links flex flex-col min-xl:items-center min-lg:w-2/4 text-black sm:text-center">
                <div class="flex sm:flex-col sm:items-center">
                    <div class="mb-10 min-sm:mr-24">
                        <p class='text-[#4b2d7f] font-bold text-2xl'>Company</p>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">About</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Approach</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Sustainability</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Careers</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">News</a>
                    </div>
                    <div class="text-black mb-10">
                        <p class='text-[#4b2d7f] font-bold text-2xl'>Company</p>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">About</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Approach</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Sustainability</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Careers</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">News</a>
                    </div>
                </div>
                <div class="flex sm:flex-col sm:items-center">
                    <div class="mb-10 min-sm:mr-24">
                        <p class='text-[#4b2d7f] font-bold text-2xl'>Company</p>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">About</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Approach</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Sustainability</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Careers</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">News</a>
                    </div>
                    <div class="text-black mb-10">
                        <p class='text-[#4b2d7f] font-bold text-2xl'>Company</p>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">About</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Approach</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Sustainability</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">Careers</a>
                        <a class='text-base block font-semibold pt-2 pl-5' href="#">News</a>
                    </div>
                </div>
            </div>

            <div class="images lg:ml-0 lg:mt-5 flex flex-col items-start min-lg:w-2/4">
                <div class="flex sm:flex-col justify-end items-center">
                    <img class='m-3' src="assets/images/quick-links-1.png" alt="Header-Image">
                    <img class='m-3' src="assets/images/quick-links-2.png" alt="Header-Image">
                </div>
                <div class="flex sm:flex-col justify-end items-center">
                    <img class='m-3' src="assets/images/quick-links-3.png" alt="Header-Image">
                    <img class='m-3' src="assets/images/quick-links-4.png" alt="Header-Image">
                </div>
            </div>
        </div>
    </section>

    <section class='bg-[#f6f6f6] py-8 px-3 text-black font-semibold text-center text-base'>
        <span class='mr-5'>© 2022 Theme by psdfreebies.com</span> ∙ 
        <a class='mr-5' href="#">Privacy</a> ∙ 
        <a class='mr-5' href="#">Terms of Use</a> ∙ 
        <a class='mr-5' href="#">Site Map</a>
    </section>
</footer>