<!-- header section -->
<header class='bg-cover bg-no-repeat bg-center bg-header-bg px-3 pt-5'>
    <nav class='flex justify-between items-center font-semibold text-white min-sm:px-10'>
        <a routerLink='/' class="logo flex items-center">
            <img src="../../../assets/images/bluerex-logo.svg" alt="BlueRex-Logo" class='sm:w-12 w-14 mr-3'>
            <span class='sm:text-2xl text-4xl'>BlueRex</span>
        </a>

        <ul class="flex items-center text-lg lg:hidden">
            <a routerLink='/' class='ml-3'>Home</a>
            <a routerLink='/about' class='ml-3'>About</a>
            <a routerLink='/services' class='ml-3'>Features</a>
            <a routerLink='/portfolio' class='ml-3'>Product</a>
            <a routerLink='/testimonial' class='ml-3'>Reviews</a>
            <a routerLink='/achievement' class='ml-3'>Faq</a>
            <a routerLink='/contact' class='ml-3'>Contact</a>
            <a routerLink='/main' class='ml-3'>
                <img src="../../../assets/images/hamburger.png" alt="Hamburger-Menu" class='w-6 h-6'>
            </a>
        </ul>

        <div class="search-section">
            <input id="check-box" type="checkbox">

            <form id="search-form" action="">
                <input class="search-bar" placeholder="Search" type="text" required>
                <button class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>

            <label id="search-form-opener" for="check-box">
                <i class="fas fa-search"></i>
            </label>
            <label id="search-form-closer" for="check-box">
                <i class="fas fa-times"></i>
            </label>
        </div>

        <a routerLink='/main' class='mobile-menu sm:text-base text-2xl px-4 sm:w-24 sm:h-9 w-32 h-11 hidden lg:flex items-center justify-center border-2'>
            <span>MENU</span>
            <img src="../../../assets/images/hamburger.png" alt="Hamburger-Menu" class='ml-3 sm:w-3 sm:h-3 w-5 h-5'>
        </a>
    </nav>

    <div class="hero min-lg:container min-lg:mx-auto px-3">
        <section class="flex lg:flex-col pt-20 justify-center items-center">
            <div class="hero-content text-white mb-10 lg:text-center max-w-xl">
                <p class='font-palatino-linotype sm:text-xl text-4xl'>We are best and creative agency</p>
                <h1 class='sm:text-3xl text-5xl font-semibold my-5'>We	turn creative ideas <br class='xl:hidden'> into your business.</h1>
                <span class='sm:text-base text-lg'>Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds.</span>

                <div class="mt-5 font-semibold md:text-sm text-base uppercase">
                    <a href="#" class='mt-3 inline-block md:px-6 py-3 px-8 bg-[#f42267]  rounded-full drop-shadow-lg'>Our Story</a>
                    <a href="#" class='mt-3 inline-block md:px-6 ml-3 py-3 px-8 bg-[#773390] rounded-full drop-shadow-lg'>Read More</a>
                </div>
            </div>

            <div class="hero-img max-w-2xl">
                <img src="../../../assets/images/header-img.png" alt="Header-Image">
            </div>
        </section>
    </div>
</header>