<!-- Our Achievement Section -->
<section class="bg-[#4b2d7f] text-white text-center">
    <div class="flex lg:flex-col justify-center items-center min-lg:container min-lg:mx-auto min-lg:h-md">
        <div class="bg-[#4b2d7f] flex flex-col justify-center items-center lg:w-full min-lg:w-auto min-lg:h-full p-5 lg:py-10">
            <img src="assets/images/speaker-icon.png" alt="Speaker-icon">
            <p class='text-5xl font-semibold my-4'>500+</p>
            <p class='text-2xl font-semibold mb-4'>Successfully <br> completed projects</p>
            <p class='text-slate-400'>Lorem ipsum dolor sit am et, consec tetur <br class='lg:hidden'> adipi scing elit. Sed sodales enim ut <br class='lg:hidden'> rhoncus lorem ipsum ese terds. </p>
        </div>
        <div class="bg-[#40286a] flex flex-col justify-center items-center lg:w-full min-lg:w-2/5 min-lg:h-full p-5 lg:py-10">
            <img src="assets/images/speaker-icon.png" alt="Speaker-icon">
            <p class='text-5xl font-semibold my-4'>254+</p>
            <p class='text-2xl font-semibold mb-4'>Highly specialised <br> employees</p>
            <p class='text-slate-400'>Lorem ipsum dolor sit am et, consec tetur <br class='lg:hidden'> adipi scing elit. Sed sodales enim ut <br class='lg:hidden'> rhoncus lorem ipsum ese terds. </p>
        </div>
        <div class="bg-[#4b2d7f] flex flex-col justify-center items-center lg:w-full min-lg:w-auto min-lg:h-full p-5 lg:py-10">
            <img src="assets/images/speaker-icon.png" alt="Speaker-icon">
            <p class='text-5xl font-semibold my-4'>45+</p>
            <p class='text-2xl font-semibold mb-4'>Awards <br> around the world</p>
            <p class='text-slate-400'>Lorem ipsum dolor sit am et, consec tetur <br class='lg:hidden'> adipi scing elit. Sed sodales enim ut <br class='lg:hidden'> rhoncus lorem ipsum ese terds. </p>
        </div>
    </div>
</section>

<!-- Story Section -->
<section class="bg-story-bg bg-cover bg-no-repeat bg-center py-20 lg:px-3">
    <div class="min-lg:container min-lg:mx-auto text-center text-white">
        <p class='font-palatino-linotype sm:text-xl text-4xl '>Let's Grow Together</p>

        <h1 class='sm:text-3xl text-5xl font-semibold my-6'>We turn creative ideas into your business.</h1>

        <p class='sm:text-base text-lg'>Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem <br class='lg:hidden'> ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit. </p>

        <a href="#" class='text-white font-semibold md:text-sm text-base uppercase mt-8 inline-block md:px-6 ml-3 py-3 px-8 bg-[#f42267] rounded-lg border-b-8 border-[#ff598f]'>Read More</a>
    </div>
</section>