.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0px;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.font-montserrat {
  font-family: Montserrat, Roboto, Helvetica, Monospace, sans-serif, serif;
}

.font-palatino-linotype {
  font-family: Palatino Linotype, Roboto, Helvetica, Monospace, sans-serif, serif;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@media (min-width: 1024px) {
  .min-lg\:container {
    width: 100%;
  }

  @media (min-width: 640px) {
    .min-lg\:container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .min-lg\:container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .min-lg\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .min-lg\:container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .min-lg\:container {
      max-width: 1536px;
    }
  }

  .min-lg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1023px) {
  .lg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 639px) {
  .sm\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .sm\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  
  .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

body {
  @extend .font-montserrat;
}