<!-- Our Clients Logo Section -->
<section class='bg-[#4b2d7f] py-12'>
    <div class="min-lg:container min-lg:mx-auto py-10 min-lg:px-12 flex flex-wrap justify-center items-center">
        <img class='px-20 py-10' src="assets/images/client-1.png" alt="client-1">
        <img class='px-20 py-10' src="assets/images/client-2.png" alt="client-2">
        <img class='px-20 py-10' src="assets/images/client-3.png" alt="client-3">
        <img class='px-20 py-10' src="assets/images/client-4.png" alt="client-4">
        <img class='px-20 py-10' src="assets/images/client-5.png" alt="client-5">
        <img class='px-20 py-10' src="assets/images/client-6.png" alt="client-6">
        <img class='px-20 py-10' src="assets/images/client-7.png" alt="client-7">
        <img class='px-20 py-10' src="assets/images/client-8.png" alt="client-8">
    </div>
</section>