<!-- testimonial Section -->
<section class="bg-testimonial-bg bg-cover bg-no-repeat bg-center pt-20 px-3">
    <div class="flex lg:flex-col justify-center items-center min-lg:container min-lg:mx-auto">
        <div class="text-white mb-10 lg:text-center max-w-md md:px-3">
            <p class='font-palatino-linotype sm:text-xl text-4xl '>Our Happy Client</p>
            <h1 class='sm:text-3xl text-5xl font-semibold my-5'>Testimonials</h1>

            <div class='review sm:text-base text-lg relative pt-5 pl-14 mt-10'>
                <img class='absolute top-0 left-0' src="assets/images/commas.png" alt="Inverted-Commas">
                <p class='italic'>Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit.</p>

                <div class='text-base mt-10'>
                    <img class='inline-block' src="assets/images/starts.png" alt="Stars.png">
                    <p class='mt-5'>Mr. John Doe</p>
                </div>
            </div>
        </div>

        <div class="lg:ml-0 lg:mt-5 text-center max-w-xl ml-12">
            <img src="assets/images/testimonial-img.png" alt="Header-Image">
        </div>
    </div>
</section>