<!-- main content section -->
<main>
    
    <!-- About Section -->
    <app-about></app-about>

    <!-- Our Achievement Section -->
    <app-achievement></app-achievement>

    <!-- Our Service Section -->
    <app-services></app-services>

    <!-- Our Work Section -->
    <app-portfolio></app-portfolio>

    <!-- Our Clients Logo Section -->
    <app-client></app-client>

    <!-- testimonial Section -->
    <app-testimonial></app-testimonial>

    <!-- Need Help Section -->
    <app-contact></app-contact>
</main> 